version: '3.9'

services:
  mysql-container:
    image: mysql:8
    container_name: mysql-container
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: identity_service
      MYSQL_USER: appuser
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"
    networks:
      - my-network

  identity-service:
    image: identity-service:0.0.1
    container_name: identity-service
    restart: unless-stopped
    depends_on:
      - mysql-container
    ports:
      - "8080:8080"
    environment:
      DBMS_USERNAME: appuser
      DBMS_PASSWORD: 123456
      DBMS_CONNECTION: jdbc:mysql://mysql-container:3306/identity_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    networks:
      - my-network

networks:
  my-network:
    driver: bridge